<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberDAO">

	<!-- <resultMap type="kh.spring.dto.MessageDTO" id="MessageDTO">
		<result property="seq" column="message_seq"/>
		<result property="names" column="name"/>
		<result property="messages" column="message"/>
	</resultMap>

	<select id="selectList" resultType="MessageDTO">
		select * from message
	</select> -->

	<select id="login" resultType="java.lang.Integer">
		select count(*) from member where id = #{id} and pw = #{pw}
	</select>
	
	<select id="selectId" resultType="java.lang.Integer">
		select count(*) from member where id = #{id}
	</select>
	
	<select id="selectInfo" resultType="kh.spring.dto.MemberDTO">
		select * from member where id = #{id}
	</select>
	
	<insert id="insert">
		insert into member values(#{id}, #{pw}, #{name}, #{phone}, 
		#{email}, #{zipcode}, #{address1}, #{address2}, sysdate, #{profileImg})
	</insert>

	<delete id="delId">
		delete from member where id = #{id} and pw = #{pw}
	</delete>
	
	<update id="updateAll">
		update member set pw=#{pw}, name=#{name}, phone=#{phone}, 
		email=#{email}, zipcode=#{zipcode}, address1=#{address1}, 
		address2=#{address2} where id = #{id}
	</update>
	
	<update id="updateNotPw">
		update member set name=#{name}, phone=#{phone}, 
		email=#{email}, zipcode=#{zipcode}, address1=#{address1}, 
		address2=#{address2} where id = #{id}
	</update>
	
	
	
	
	
	
</mapper>